html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --color--primary: #58a5ff;
  --color--primary-saturation: #4785cc;
  --color--primary-light: #a6cfff;
  --color--primary-dark: #2d5380;
  --color--primary-grey: #536880;
  --color--analogue-aqua: #4dfeff;
  --color--analogue-ocean: #46bce8;
  --color--analogue-bluetiful: #4667e8;
  --color--analogue-purple: #584dff;

  --borderRadius--destkop: 0.25rem;
  --borderRadius--mobile: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
